@model CadastrarSalaViewModel
@{
    ViewBag.Title = "Cadastrar Sala";
    Layout = "_Layout";
}


<div class="card">
    <div class="card-body">
        <form asp-action="Cadastrar" method="post">
            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Capacidade" class="form-label"></label>
                <input asp-for="Capacidade" class="form-control" type="number" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <a asp-action="Listar" class="btn btn-secondary">Voltar</a>
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
        </form>
    </div>
</div>