@{
    ViewBag.Title = "Acesso Negado";
}

<div class="container text-center mt-5 text-white">
    <h1 class="display-4 text-danger">Acesso Negado</h1>
    <p class="lead">Você não tem permissão para acessar esta página.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-light mt-3">Voltar para a Página Inicial</a>
</div>
