html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

nav.sidebar {
    background-color: #1f1f1f;
}

.sidebar .nav-link {
    color: #ccc;
    transition: all 0.3s;
}

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
        background-color: #e5091785;
        color: white !important;
        border-radius: 3px;
    }

}

h1, h2, h3, h4 {
    color: white;
}


footer {
    background-color: #000;
    color: #ccc;
}

.nav-icon {
    font-size: 1.4rem;
}




