@model VenderSessaoViewModel

@{
    var assentosAgrupados = Model.Assentos
    .GroupBy(a => a.Numero[0])
    .OrderBy(g => g.Key);
}

<div>
    <label class="form-label">Selecione os Assentos:</label>

    <div class="d-flex flex-column align-items-center justify-content-center w-75">
        <span class="bg-white text-dark d-inline-block text-center fw-semibold my-4 px-4 shadow-sm w-100 w-md-75 w-lg-50">
            Tela
        </span>
        <div class="px-3 my-5 d-flex flex-column align-items-center">

            @foreach (var grupo in assentosAgrupados)
            {
                <div class="d-flex gap-2 mb-3">
                    <div class="fw-bold me-3">@grupo.Key</div>

                    @foreach (var assento in grupo.OrderBy(a =>
                   {
                       var partes = a.Numero.Split('-');
                       if (partes.Length > 1)
                       {
                           if (int.TryParse(partes[1].Trim(), out int num))
                               return num;
                       }
                       return 0;
                   }))
                    {
                        <div class="card-assento-@assento.Id text-center p-1
                                border-5 border-bottom rounded-top border-success
                                define-assento border-@(assento.Disponivel ? "danger" : "success")">

                            <input class="form-check-input assento-checkbox"
                                   type="checkbox"
                                   name="AssentosSelecionados"
                                   hidden
                                   value="@assento.Id"
                                   id="assento-@assento.Id"
                                   data-id="@assento.Id"
                            @(assento.Disponivel ? "disabled" : "") />

                            <label class="form-check-label text-white fs-3"
                                   for="assento-@assento.Id">
                                <i class="bi bi-@(assento.Disponivel ? "emoji-heart-eyes" : "emoji-neutral")
                                            text-@(assento.Disponivel ? "danger" : "white") icone-assento-@assento.Id"></i>
                            </label>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>