@model VenderSessaoViewModel

@{
    ViewBag.Title = "Venda de Ingressos";
    Layout = "_Layout";
}
<style>
    .define-assento {
        transition: all .2s;
        min-width: 30px;
        background-color: #404040;
    }

    .tela {
        width: 600px;
        text-align:center;
        display:block;    
    }
</style>

<div class="card bg-dark text-white p-4 mt-3">
    <form asp-action="Vender" method="post">
        <input type="hidden" asp-for="Id" />

        <dl class="row">
            <dt class="col-sm-3">Filme</dt>
            <dd class="col-sm-9">@Model.Filme.Nome</dd>

            <dt class="col-sm-3">Sala</dt>
            <dd class="col-sm-9">@Model.Sala.Nome</dd>

            <dt class="col-sm-3">Data de Exibição</dt>
            <dd class="col-sm-9">@Model.DataDeExibicao.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-3">Horário da Sessão</dt>
            <dd class="col-sm-9">@Model.HorarioDaSessao.ToString(@"hh\:mm")</dd>
        </dl>


        <partial name="_Assentos" model="Model" />
        <partial name="_Carrinho" model="Model"/>

        <a id="btnAbrirCarrinho" class="btn btn-success">Confirmar Venda</a>
        <a asp-action="Listar" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>

@section Scripts {
}