@{
}

<div class="background-wrapper position-fixed top-0 end-0 w-100 h-100 z-n1">
    <img src="~/img/moonBackground.jpg" class="bg-image position-absolute w-100 h-100 object-fit-cover format" alt="moonBackground" />
    <img src="~/img/astronaut.png" class="astronaut position-absolute" alt="Astronaut" />
</div>

<div class="position-absolute w-75 text-center text-white z-n1000">
    <h1 class="display-4 fw-bold">Bem-Vindo</h1>
    <p>Sua próxima sessão começa aqui!</a>.</p>
</div>
