@{
}

<div class="text-center text-white-50">
    <h1 class="display-4 fw-bold">Welcome</h1>
    <p>Aprenda sobre <a href="https://learn.microsoft.com/aspnet/core">construindo Web apps com ASP.NET Core</a>.</p>
</div>
